body {
  background-color : #fff2c7;
  padding-bottom   : 200px;
}

#maingc7 {

  width  : 95%;
  margin : 0 auto;
  //color : red;

  .lio {
    border-radius : 10px;
    margin        : 0 auto;
    padding       : 5px 10px;
    text-align    : justify;
  }
}
