body {
  color     : #333;
  width     : 100%;
  font-size : 1.5em;
}

.block_gc7 {
  background-color : #FFFACD;
  width            : 95%;
  border-radius    : 10px;
  margin           : 10px auto;
  padding          : 5px 10px 0;
  text-align       : justify;
}

.minimal * {
  margin                : 0;
  padding               : 0 0 0 7px;
  line-height           : 1;
  font-size             : .85em;
  color                 : blue;
  -webkit-margin-before : 0;
}

.checked {
  color : #f00;
}

input[type="text"].green {
  background : #DFF0D8;
}

input[type="text"].red {
  background : #F2DEDE;
}

table {
  margin          : 0 auto;
  border          : 2px solid grey;
  border-collapse : collapse;
}

td, th {
  border  : 1px solid darkgrey;
  padding : 2px 5px;
}

#monHorloge {
  font-size     : .7em;
  text-align    : right;
  margin-bottom : -12px;
  padding       : 0;
}

blockquote {
  color : #00F;
  cite {
    display    : block;
    font-style : normal;
  }
}

.draggableBox {
  position            : absolute;
  width               : 100px;
  height              : 60px;
  padding-top         : 35px;
  text-align          : center;
  font-size           : 40px;
  background-color    : #222;
  color               : #CCC;
  cursor              : move;
  /* L'utilisateur ne pourra plus sélectionner le texte de l'élément qui possède cette propriété CSS */
  -webkit-user-select : none;
  -moz-user-select    : none;
  -ms-user-select     : none;
  user-select         : none;
}

#myForm {
  padding : 20px;

  .form_col {
    display      : inline-block;
    margin-right : 15px;
    padding      : 3px 0px;
    width        : 200px;
    min-height   : 1px;
    text-align   : right;
  }

  input {
    padding       : 2px;
    border        : 1px solid #CCC;
    border-radius : 2px;
    outline       : none; /* Retire les bordures appliquées par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
  }

  input:focus {
    border-color : rgba(82, 168, 236, 0.75);
    box-shadow   : 0 0 8px rgba(82, 168, 236, 0.5);
  }

  .correct {
    border-color : rgba(68, 191, 68, 0.75);
  }

  .correct:focus {
    border-color : rgba(68, 191, 68, 0.75);
    box-shadow   : 0 0 8px rgba(68, 191, 68, 0.5);
  }

  .incorrect {
    border-color : rgba(191, 68, 68, 0.75);
  }

  .incorrect:focus {
    border-color : rgba(191, 68, 68, 0.75);
    box-shadow   : 0 0 8px rgba(191, 68, 68, 0.5);
  }

  .tooltip {
    display          : inline-block;
    margin-left      : 20px;
    padding          : 2px 4px;
    border           : 1px solid #555;
    background-color : #CCC;
    border-radius    : 4px;
  }
}

#overlay {
  display          : none; /* Par défaut, on cache l'overlay */

  position         : absolute;
  top              : 0;
  left             : 0;
  width            : 100%;
  height           : 100%;
  text-align       : center; /* Pour centrer l'image que l'overlay contiendra */

  /* Ci-dessous, nous appliquons un background de couleur noire et d'opacité 0.6. Il s'agit d'une propriété CSS3. */
  background-color : rgba(0, 0, 0, 0.6);
}

#overlay img {
  margin-top : 100px;
}

p {
  margin-top : 150px;
  text-align : center;
}
